<%= stylesheet_link_tag 'user_profile' %>

<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <%= render 'teams/team_profile', team: @team %>
      <br>
      <%= render 'teams/team_members', users: @team.users %>
      <br>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
        <%= render 'users/user_activities', valid_submissions: @team.valid_submissions %>
      </div>
    </div>
  </div>
</div>
