<% provide(:title, 'Capture the Flag') %>
<h1>Capture the Flag</h1>

<% @ctfs.each do |ctf| %>
<div class="row">
  <div class="col-md-2 col-md-offset-3">
    <h3><%= link_to ctf.name, ctf %></h3>
    <p><%= ctf.info %></p>
  </div>
</div>
<% end %>
