<% provide(:title, @ctf.name) %>
<h1><%= @ctf.name %></h1>
<p><%= @ctf.info %></p>
<p><%= "Max number of team members: #{@ctf.max_teammates}" %></p>
<button class='btn-primary'>Enter this CTF</button>
