<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Challenges <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "Add new Challenges", new_challenge_path %></li>
    <li><%= link_to "Challenges", challenges_path %></li>
  </ul>
</li>
