<%= gravatar_for(@user) %>
<br>
<%= @user.name %><br>
<%= @user.email %><br>
Team:
<% if @user.organizer? %>
  CTF Organizer
<% else %>
  <% if @user.team.nil? %>
    <span style='color: red;'>not enrolled in a team yet</span>
  <% else %>
    <%= link_to @user.team.name, @user.team %>
  <% end %>
<% end %>
