<%= stylesheet_link_tag 'user_profile' %>

<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <%= render 'users/user_profile', user: @user %>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
        <%= render 'users/user_activities', valid_submissions: @user.valid_submissions %>
      </div>
    </div>
  </div>
</div>
