<% if challenges.empty? %>
  <h3>There isn't any available challenges for this category</h3>
<% else %>
  <% challenges.each do |ctf_challenge| %>
    <%= render 'challenges/challenge_panel', ctf_challenge: ctf_challenge %>
  <% end %>
<% end %>
