<h1 style='text-align: center;'>CTF Dashboard Settings</h1>
  <%= form_tag do %>
    <div id='form-body'>
      <% @ctf_settings.each do |ctf_setting| %>
        <div class='row'>
          <div class="col-md-3">
          <%= label_tag "key[]",ctf_setting.key, style: 'width: 100%; text-align: center;'%>
          </div>
          <div class="col-md-9">
          <%= ctf_setting_tag(ctf_setting) %>
          </div>
        </div>
      <% end %>
    </div>
    <div style='display: flex;'>
      <span style='text-align: center; width: 100%;'>
        <%= submit_tag 'Update', class: "btn btn-success", style: 'width: 40%;' %>
      </span>
    </div>
  <% end %>
