<div class="panel panel-primary">
  <%= render 'challenge_panel_header', ctf_challenge: ctf_challenge %>
  <%= render 'challenge_panel_body', ctf_challenge: ctf_challenge, body: challenge_panel_body ||= nil %>
  <%= render 'challenge_panel_footer', ctf_challenge: ctf_challenge %>
</div>
