<% provide(:title, 'Category') %>

<%= render 'challenges/challenge_categories' %>

<% if @category %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1><%= @category.name %></h1>
      </div>
      <hr>
      <%= render 'challenges/challenges', challenges: @category.challenges.active %>
    </div>
  </div>
<% end %>
