<nav class="col-md-3 sidebar">
  <!-- Sidebar Header -->
  <div class="sidebar-header">
    <h3>Settings</h3>
  </div>

  <!-- Sidebar Links -->
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
