<nav class="col-md-3 sidebar">
  <!-- Sidebar Header -->
  <div class="sidebar-header">
    <h3>Settings</h3>
  </div>

  <!-- Sidebar Links -->
  <ul>
    <%= link_to profile_settings_path do %>
      <li class="<%= current_class?(profile_settings_path) %>">Profile</li>
    <% end %>
    <%= link_to security_settings_path do %>
      <li class="<%= current_class?(security_settings_path) %>">Security</li>
    <% end %>
  </ul>
</nav>
